@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 10px;
}

body {
    font-family: "Montserrat";
    color: #dce2eb;
    font-size: 2rem;
    font-weight: 500;
    padding: 2.5rem;
    background-color: rgba(30, 143, 191, 0.728);
}

p {
    font-family: "Montserrat";
    color: #dce2eb;
    font-size: 2rem;
    font-weight: 500;
    padding: 2.5rem;
}

a {
    color:inherit;
    text-decoration: none;
}

h1 {
    text-transform: uppercase;
    font-size: 3.2rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

h2 {
    font-weight: 600;
    font-size: 2.5rem;
}

img {
    width: 100%;
    height: auto;
}

li {
    list-style: none;
    border: 2px solid #dce2eb;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
    border-radius: 7px;
}

ul {
    padding-left: 0px;
}

li a:hover {
    color: rgba(30, 143, 191, 0.728);
    background-color: #dce2eb;
}

h2 a:hover {
    opacity: 50%;
}